/* body{
    /* background-image: linear-gradient(to bottom right,rgb(58, 58, 143),rgb(217, 133, 217)); */
    /* background-image: url(back.jpg); */

/* } / */

*{
 margin:0px;
 padding: 0px;
}

.nav {

    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    align-items: baseline;
    display: block;
    align-content: stretch;
}

nav{
    background-color: black;
 
}

nav ul li {
 display: inline-block;
 padding: 31px;

 
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.hawamahal{
    /* width: 300px; */
display:inline-block;
}

.texttt{
    color:rgb(151, 52, 59);
    align-items: center;
    padding-left: 40px;
}

#container{
    background-image: linear-gradient(to right,rgb(47, 40, 40),rgb(205, 24, 24));
    /* display: inline-block; */
    width: 45vw;
    height:78vh;
    box-shadow: 18px 9px 93px black;
    display: block;

 
   
}
.name{

    display: inline-block;
}
.germanshepard{
   
   height:132px;
}

.green {
    background-color: green;
    text-align: center;
    /* height: 20vh; */
    width: 50vw;
    font-size: 60px;
   display:inline-block;
    
}

.aqua{
    background-color: aqua;
    text-align: center;
    /* height: 20vh; */
    width: 50vw;
    font-size: 60px;
   display:inline-block;
}

#hooks{
  background-color: #b2c074 ;
  text-align: center;
}

.form{
    margin:auto;
    margin-top: 5px;
    padding-top: 2px;
    text-align: center;
    background-color: #59b297;
    height: 332px;
    width: 72vw;
}

#another{
    margin:auto;
    margin-top: 5px;
    padding-top: 2px;
    text-align: center;
    background-color: #c2e1d7;
    height: 50vh;
    width: 60vw;
}

.container21{
    margin: 89px;
   
    margin-top: 5px;
    padding-top: 13px;
    text-align: center;
    background-color: #b25968;
    height: 39vh;
    width: 60vw;
}

.splitpanel{
    display: flex;
}

.Contt{
    width: 40vh;
    height: 30vh;
    background-color: rgb(202, 136, 39);
     display: inline-block;
}

.Chat{
    width: 77vh;
    height: 30vh;
    background-color: rgb(226, 226, 30);
    display: inline-block;

}

table, th, td {
    border:3px solid rgb(230, 212, 21);
  }


.focus{
    text-align: center;
    background-color: #83d1d0;
    /* display: contents; */
}

a:focus ,a:active {
    color: red;
}

a:hover{
 
    color:black;
}

.stopwatch{
    text-align: center;
    background-color: #c23531;
}